.action_button {
  color: #006699;
  font-size: 18px;
  padding: 5px;
  -webkit-transition: color .5s;
  /* For Safari 3.1 to 6.0 */
  transition: color .5s;
}
.action_button:hover {
  color: #000066;
  cursor: pointer;
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Chrome, Safari, Opera */
  transform: scale(1.2, 1.2);
}

.offline{
  color:red;
}

.online{
  color:green;
};